
<h1> Create an Article</h1>

<%= form_for @article do|foo| %>
  <p>
    <%= foo.label :title %>
    <br>
    <%= foo.text_field :title %>
  </p>

  <p>
    <%= foo.label :description %>
    <br>
    <%= foo.text_area :description %>
  </p>

  <%= foo.submit %>
<% end %>